cold_email_automation.json
{
  "name": "cold Email automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "33f75648-9ed2-411a-b316-d0228e51a290",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8",
          "mode": "list",
          "cachedResultName": "leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "aff521a8-9f8c-4dbc-a3bd-bb1efa5e1351",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Hn6PmT4jAYKJZE1i",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c1300ff-50e6-4bd2-be9f-aff313ee24b3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "46522c09-4521-4abb-b90e-62a1a74ea9ca",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -16
      ],
      "id": "f1efe1f4-e72b-4cc6-a728-136f7dbe7d9b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8",
          "mode": "list",
          "cachedResultName": "leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 714065080,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8/edit#gid=714065080"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        -128
      ],
      "id": "04b058e1-bee4-4160-b69e-3dc51cd2d023",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Hn6PmT4jAYKJZE1i",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Debug log to see the actual keys\nconsole.log('Template:', template);\n\n// Use the correct key (try lowercase 'body')\nconst bodyContent = template.Body || template.body;\n\nif (!bodyContent || typeof bodyContent !== 'string') {\n  throw new Error('Template body is missing or not a string');\n}\n\n// Convert body to HTML\nconst bodyHtml = bodyContent.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject || template.subject || '(No Subject)',\n      body: bodyHtml\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -128
      ],
      "id": "1f4b0651-b155-479c-a1ef-3ef2740e3bac",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        32
      ],
      "id": "454d8e1d-9ac9-4fbd-9d4c-cd785a846753",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d394f0ee-5deb-49dd-b5ac-ccced4b78539",
              "name": "body",
              "value": "={{ \n  $json.body.replace(\n    /\\{name\\}/g, \n    $json[\"name\"] && $json[\"name\"].trim() !== '' ? $json[\"name\"].trim() : \"there\"\n  ) \n}}\n\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        32
      ],
      "id": "252b2809-19f3-4b53-ae33-172d43c145b1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Gmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $('Merge').item.json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Darshan M"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        160
      ],
      "id": "5cc9f0c6-3712-4cc3-bb77-daf72f60d113",
      "name": "Send a message",
      "webhookId": "39301fae-33d5-44ba-9e98-835a89348b74",
      "credentials": {
        "gmailOAuth2": {
          "id": "yll4m8FD6yBZXROW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1984,
        -32
      ],
      "id": "93c825c3-86e9-4616-84c9-b10f1e7a9374",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8",
          "mode": "list",
          "cachedResultName": "leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1stL8Lmrn0Dr-PDB3KvQo1lwjhx61NG-jeR3oxZxUCL8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Gmail": "dmgowdru1@gmail.com",
            "status": "={{ String($json.response || '').includes(\"250 2.0.0 Ok\") ? \"failed\" : \"sent\" }}\n",
            "time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}"
          },
          "matchingColumns": [
            "Gmail"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2192,
        -32
      ],
      "id": "2ba4be66-fe15-4da1-9a97-a0e5661bea41",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Hn6PmT4jAYKJZE1i",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2064,
        304
      ],
      "id": "2a990cff-91d6-4ff8-b3ee-387002fe9d70",
      "name": "Wait",
      "webhookId": "4e5f7696-d81c-4fa1-8e0e-0030e35f056a"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56e494ad-2a04-44d5-b62f-3b2fa47abdc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70cf312e7a12a56980fc377a2f9376d0a62ed4b3570e93d4c1d66a7af9a07a9e"
  },
  "id": "n1SSFPbJpvDgq0az",
  "tags": []
}
